@import "node_modules/reset-css/sass/reset"
@import "variables"



body
  font-family: 'Roboto', sans-serif
  color: $dark-grey
  input:focus
    outline: none
  h1
    font-size: 2rem
  a
    text-decoration: none
    color: $dark-grey
    transition: 0.3s
    &:hover
      color: $green-blue


